@model libraryCRUD.Models.book_thirupa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Details of <b>@Html.DisplayFor(model => model.bookname)</b></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
Book ID        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookid)
        </dd>

        <dt>
Book Name        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookname)
        </dd>

        <dt>
Book Pages        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookpages)
        </dd>

        <dt>
Book Author        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookauthor)
        </dd>

        <dt>
Book Edition        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookedition)
        </dd>

        <dt>
Year of Publish        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookyearofpublish)
        </dd>

        <dt>
Book Copies        </dt>

        <dd>
            @Html.DisplayFor(model => model.numberofcopies)
        </dd>

    </dl>
</div>
<p>
    <button type="reset" class=" btn btn-default">@Html.ActionLink("Edit", "Edit", new { id = Model.bookid }) </button>
    <button type="reset" class=" btn btn-default" href="https://localhost:44309/book_thirupa/Index">Back to List</button>

</p>
