@model IEnumerable<libraryCRUD.Models.book_thirupa>

@{
    ViewBag.Title = "Index";
}

<h2>Library Database</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Book ID
        </th>
        <th>
Book Name        </th>
        <th>
Book Author        </th>
        <th>
Book Edition        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.bookid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookname)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.bookauthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookedition)
        </td>
        
        <td>
            <a><span class="glyphicon glyphicon-pencil"></span></a>
            @Html.ActionLink("Edit", "Edit", new {  id=item.bookid }) |
            <a><span class="glyphicon glyphicon-info-sign"></span></a>
            @Html.ActionLink("Details", "Details", new { id=item.bookid }) |
            <a><span class="glyphicon glyphicon-remove-circle"></span></a>
            @Html.ActionLink("Delete", "Delete", new { id=item.bookid })
        </td>
    </tr>
}

</table>
