@model libraryCRUD.Models.borrowdetails_thirupa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>borrowdetails_thirupa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
Student Id        </dt>

        <dd>
            @Html.DisplayFor(model => model.Studentid)
        </dd>

        <dt>
Book Name        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookname)
        </dd>

        <dt>
Book Borrow Date        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookborrowdate)
        </dd>

        <dt>
Book Return Date        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookreturndate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Studentid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
